/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Montserrat+Alternates:ital,wght@0,200;0,600;1,200&family=Rubik:ital,wght@1,700&display=swap');

:root {
  /* Define color schemes */
  --baby-blue: #C7ECFF;
  --dodger-blue: #4C9CFD;
  --link-blue: #0072bf;
  --light-green: #61E786;
  --honeydew: #EDFFEC;
  --off-white: #fffefb;
  --light-pink: #E34A6F;
  --custom-black: #2D2A32;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  overflow: hidden;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

/* // <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name */

.kameron-body{
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}