/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,600;1,200&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@1,700&display=swap");
@import "tailwindcss";

:root{
  --baby-blue: #DFF3FF;
  --dodger-blue: #4c9cfd;
}

/* Define color schemes */
@theme {
  --color-baby-blue: #DFF3FF;
  --color-barely-blue: #F0FAFF;
  --color-dodger-blue: #4c9cfd;
  --color-link-blue: #0072bf;

  --color-dark-purple: #611BAC;
  --color-baby-purple: #F1E8FF;

  --color-tangerine: #FCB001;
  --color-baby-orange: #FFF7E4;

  --color-light-green: #61e786;
  --color-honeydew: #edffec;
  --color-off-white: #ffffff;
  --color-hot-pink: #e34a6f;
  --color-custom-black: #2d2a32;
  --color-translucent-white: rgba(255, 255, 255, 0.8);
}

@layer base {
  h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-size: var(--text-6xl);
    font-style: normal;
  }

  h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: var(--text-3xl);
    margin-bottom: 2rem;
  }

  h3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-size: var(--text-lg);
    font-style: normal;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: var(--color-dodger-blue);
    font-size: var(--text-sm);
  }
}

body {
  background-color: var(--off-white);
}


.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}



/* // <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name */
.raleway-body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
